/* 1 */
.magnetic-button:hover .bi-arrow-right{
    animation: swap ease-out var(--transition-duration);
}

/* 2 */
.circle-1 {
    animation: scaling 20s linear infinite;
}

.circle-2 {
    animation: rotation 20s linear infinite;
}

@keyframes scaling {
    0%, 100% {transform:scale(1);}
    50% {transform:scale(1.5);}
}

@keyframes rotation {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

/* 3 */
.list-group-item {
    box-shadow: inset 0 0 0 0 var(--black-color);
}

.list-group-item, .list-group-item .title, .list-group-item .award-btn i {
    transition: all 0.3s cubic-bezier(0.36, 0, 0.66, 0);
}

.list-group-item:hover {
    box-shadow: inset 0 -300px 0 -1px var(--black-color);
    color: var(--secondary-p-color);
    padding-left: 1.5rem;
}

.list-group-item:hover .title {
    color: var(--secondary-t-color);
}

.list-group-item:hover .award-btn i {
    color: var(--secondary-t-color);
    padding-right: 1rem;
}

/* 4 */
/* плавность уже обеспечена свойством transition: all var(--transition-function) var(--transition-duration); */
.badge:hover {
    opacity: 0.6;
}

/* 5 */
.blog-item .image-holder .card-overlay {
    transition: all var(--transition-function) var(--transition-duration);
}
.blog-item .image-holder:hover .card-overlay {
    transform: translateY(0%);
    opacity: 1;
}

.blog-item .image-holder:hover ~ .card-content .title a {
    animation: erase-line var(--transition-function) var(--transition-duration) forwards;
}
@keyframes erase-line {
    from {background-size: 100% 5%;}
    to {background-size: 0% 5%;}
}
.blog-item .image-holder:not( :hover ) ~ .card-content .title a {
    animation: draw-line var(--transition-function) var(--transition-duration) forwards;
}
@keyframes draw-line {
    from {background-size: 0% 5%;}
    to {background-size: 100% 5%;}
}

/* 6 */
.marquee .list-unstyled .item:nth-of-type(odd) {
    transform:rotate(-4deg);
}

.marquee .list-unstyled .item:nth-of-type(even) {
    transform:rotate(4deg);
}

/* 7 */
header .navbar-expand .navbar-nav .nav-item .nav-link{
    transition: opacity var(--transition-function) var(--transition-duration);
}
header .navbar-expand .navbar-nav .nav-item .nav-link::after{
    transition: transform var(--transition-function) var(--transition-duration);
}
header .navbar-expand .navbar-nav .nav-item:hover .nav-link{
    opacity: 0.6;
}
header .navbar-expand .navbar-nav .nav-item:hover .nav-link::after{
    transform: scale(1);
}

/* 9 */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    z-index: 1000;
    transition: opacity 1.5s ease 0.5s;
}

.loaded_hiding .preloader {
    opacity: 0;
}
    
.loaded .preloader {
    display: none;
}